{% extends "layout.html" %}
{% block head %}
        {{ super() }}
        <script>
                $(document).ready(function(){
                        $("#add").on('click', function(){
                                $.ajax({
                                        url: '/api/v1/boot_config/',
                                        type: 'PUT',
                                        contentType: "application/json",
                                        dataType: 'json',
                                        data: serialize_form($("#form")),
                                        success: parse_boot_config_list,
                                        error: log_ajax_err
                                })
                        });
                        $("#update").on('click', function() {
                                $.ajax({
                                        url: '/api/v1/boot_config/' + $('#title').val() + '/',
                                        type: 'POST',
                                        contentType: "application/json",
                                        dataType: 'json',
                                        data: serialize_form($("#form")),
                                        success: parse_boot_config_response,
                                        error: log_ajax_err
                                })
                        });
                        $("#load").on('click', function() {
                                load_boot_config($('#title').val());
                        });
                        $("#delete").on('click', function() {
                                $.ajax({
                                        url: '/api/v1/boot_config/' + $('#title').val() + '/',
                                        type: 'DELETE',
                                        success: get_boot_configs,
                                        error: log_ajax_err
                                })
                        });
                        // http://stackoverflow.com/a/6140696
                        $("textarea").keydown(function(e) {
                            if(e.keyCode === 9) { // tab was pressed
                                // get caret position/selection
                                var start = this.selectionStart;
                                var end = this.selectionEnd;
                                var $this = $(this);
                                var value = $this.val();
                                // set textarea value to: text before caret + tab + text after caret
                                $this.val(value.substring(0, start)
                                            + "\t"
                                            + value.substring(end));
                                // put caret at right position again (add one for the tab)
                                this.selectionStart = this.selectionEnd = start + 1;
                                // prevent the focus lose
                                e.preventDefault();
                            }
                        });
                        get_boot_configs();
                        get_variables();
                });
        </script>
{% endblock %}
{% block content %}
        <h2>Boot Configs</h2>
        <form id="form" class="form-horizontal">
                <div class="form-group">
                        <label class="col-sm-2 control-label" for="title">Title</label>
                        <div class="col-sm-10">
                                <input class="form-control" type="text" id="title" name="title" placeholder="Title">
                        </div>
                </div>
                <div class="form-group">
                        <label class="col-sm-2 control-label" for="config">Config</label>
                        <div class="col-sm-10">
                                <textarea rows="5" class="form-control" id="config" name="config" placeholder="Config"></textarea>
                        </div>
                </div>
                <input class="col-sm-1 col-sm-offset-2 btn btn-default" type="button" id="add" name="add" value="Add">
                <input class="col-sm-1 btn btn-default" type="button" id="update" name="update" value="Update">
                <input class="col-sm-1 btn btn-default" type="button" id="load" name="load" value="Load">
                <input class="col-sm-1 btn btn-default" type="button" id="delete" name="delete" value="Delete">
        </form>
        <div class="container-fluid col-sm-12">
                <div id="boot-config-container" class="container-fluid col-sm-4">
                        <h4>Boot Configs</h4>
                        <div class="list-group" id="boot_config_list">
                        </div>
                </div>
                <div id="variable-container" class="container-fluid col-sm-4">
                        <h4>Variables</h4>
                        <div class="list-group" id="variable_list">
                        </div>
                </div>
        </div>
{% endblock %}
