<html>
        <head>
                <title>Stateful Boot Management</title>
                <meta content="text/html; charset = UTF-8" http-equiv="content-type" />
                <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                <script>
                        function parse_machine_list(response) {
                                $('#machine_list').empty();
                                if (typeof(response) != "object") {
                                        response = [response];
                                } 
                                response.sort();
                                for(var i = 0; i < response.length; i++) {
                                        $('#machine_list').append($('<li>').append(response[i]).addClass("machine_config"));
                                }
                                $('.machine_config').on('click', function() {
                                        load($(this).text());
                                });
                        }
                        function parse_boot_config_list(response) {
                                $('#boot_config_list').empty();
                                if (typeof(response) != "object") {
                                        response = [response];
                                } 
                                response.sort();
                                for(var i = 0; i < response.length; i++) {
                                        $('#boot_config_list').append($('<li>').append(response[i]).addClass("boot_config"));
                                }
                                $('.boot_config').on('click', function() {
                                        set_boot_config($(this).text());
                                });
                        }
                        function parse_response(response) {
                                console.log(response);
                                $('#hostname').val(response['hostname']);
                                $('#default_boot').val(response['default_boot']);
                                $('#alternate_boot').val(response['alternate_boot']);
                                $('#switch_type').val(response['switch_type']);
                                $('#time_between').val(response['time_between']);
                                if(response['switch_type'] == 'timed') {
                                        $("#time_between").show();
                                } else {
                                        $("#time_between").hide();
                                }
                        }
                        function log_ajax_err(xhr, resp, text) {
                                console.log(xhr, resp, text);
                        }
                        function get_machines() {
                                $.ajax({
                                        url: '/api/v1/machine/',
                                        type: 'GET',
                                        success: parse_machine_list,
                                        error: log_ajax_err
                                })
                        }
                        function get_boot_configs() {
                                $.ajax({
                                        url: '/api/v1/boot_config/',
                                        type: 'GET',
                                        success: parse_boot_config_list,
                                        error: log_ajax_err
                                })
                        }
                        function load(hostname) {
                                $.ajax({
                                        url: '/api/v1/machine/' + hostname + '/',
                                        type: 'GET',
                                        success: parse_response,
                                        error: log_ajax_err
                                })
                        }
                        function set_boot_config(title) {
                                if ($("#default_boot").val() == "") {
                                        $("#default_boot").val(title);
                                }
                                if ($("#alternate_boot").val() == "") {
                                        $("#alternate_boot").val(title);
                                }
                        }
                        $(document).ready(function(){
                                $("#add").on('click', function(){
                                        $.ajax({
                                                url: '/api/v1/machine/',
                                                type: 'PUT',
                                                contentType: "application/json",
                                                dataType: 'json',
                                                data: JSON.stringify($("#form").serializeArray()),
                                                success: parse_machine_list,
                                                error: log_ajax_err
                                        })
                                });
                                $("#update").on('click', function() {
                                        $.ajax({
                                                url: '/api/v1/machine/' + $('#hostname').val() + '/',
                                                type: 'POST',
                                                contentType: "application/json",
                                                dataType: 'json',
                                                data: JSON.stringify($('#form').serializeArray()),
                                                success: parse_response,
                                                error: log_ajax_err
                                        })
                                });
                                $("#load").on('click', function() {
                                        load($('#hostname').val());
                                });
                                $("#delete").on('click', function() {
                                        $.ajax({
                                                url: '/api/v1/machine/' + $('#hostname').val() + '/',
                                                type: 'DELETE',
                                                success: get_machines,
                                                error: log_ajax_err
                                        })
                                });
                                $("#switch_type").on("change", function() {
                                        if ($(this).val() == "timed") {
                                                $("#time_between").show();
                                        } else {
                                                $("#time_between").hide();
                                        }
                                });
                                get_machines();
                                get_boot_configs();
                        });
                </script>
        </head>
        <body>
                <form id="form">
                        <input type="text" id="hostname" name="hostname" placeholder="Hostname">
                        <input type="text" id="default_boot" name="default_boot" placeholder="Default Boot Config Name">
                        <input type="text" id="alternate_boot" name="alternate_boot" placeholder="Alternate Boot Config Name">
                        <select name="switch_type" id="switch_type">
                                <option value="switched">Switched</option>
                                <option value="alternating">Alternating</option>
                                <option value="timed">Timed</option>
                        </select>
                        <input type="text" id="time_between" name="time_between" placeholder="Seconds between boots" hidden>
                        <input type="button" id="add" name="add" value="Add">
                        <input type="button" id="update" name="update" value="Update">
                        <input type="button" id="load" name="load" value="Load">
                        <input type="button" id="delete" name="delete" value="Delete">
                </form>
                <h2>Machines</h2>
                <ul id="machine_list">
                </ul>
                <h2>Boot Configs</h2>
                <ul id="boot_config_list">
                </ul>
        </body>
</html>
