{% extends "layout.html" %}
{% block head %}
        {{ super() }}
        <script>
                function parse_list(response) {
                        $('#list').empty();
                        if (typeof(response) != "object") {
                                response = [response];
                        } 
                        for(var i = 0; i < response.length; i++) {
                                $('#list').append($('<li>').append(response[i]).addClass("variable"));
                        }
                        $('.variable').on('click', function() {
                                load($(this).text());
                        });
                }
                function parse_response(response) {
                        $('#value').val(response['value']);
                        $('#key').val(response['key']);
                }
                function log_ajax_err(xhr, resp, text) {
                        console.log(xhr, resp, text);
                }
                function get_variables() {
                        $.ajax({
                                url: '/api/v1/variable/',
                                type: 'GET',
                                success: parse_list,
                                error: log_ajax_err
                        })
                }
                function load(key) {
                        $.ajax({
                                url: '/api/v1/variable/' + key + '/',
                                type: 'GET',
                                success: parse_response,
                                error: log_ajax_err
                        })
                }
                $(document).ready(function(){
                        $("#add").on('click', function(){
                                $.ajax({
                                        url: '/api/v1/variable/',
                                        type: 'PUT',
                                        contentType: "application/json",
                                        dataType: 'json',
                                        data: JSON.stringify($("#form").serializeArray()),
                                        success: parse_list,
                                        error: log_ajax_err
                                })
                        });
                        $("#update").on('click', function() {
                                $.ajax({
                                        url: '/api/v1/variable/' + $('#key').val() + '/',
                                        type: 'POST',
                                        contentType: "application/json",
                                        dataType: 'json',
                                        data: JSON.stringify($('#form').serializeArray()),
                                        success: parse_response,
                                        error: log_ajax_err
                                })
                        });
                        $("#load").on('click', function() {
                                load($('#key').val());
                        });
                        $("#delete").on('click', function() {
                                $.ajax({
                                        url: '/api/v1/variable/' + $('#key').val() + '/',
                                        type: 'DELETE',
                                        success: get_variables,
                                        error: log_ajax_err
                                })
                        });
                        // http://stackoverflow.com/a/6140696
                        $("textarea").keydown(function(e) {
                            if(e.keyCode === 9) { // tab was pressed
                                // get caret position/selection
                                var start = this.selectionStart;
                                var end = this.selectionEnd;
                                var $this = $(this);
                                var value = $this.val();
                                // set textarea value to: text before caret + tab + text after caret
                                $this.val(value.substring(0, start)
                                            + "\t"
                                            + value.substring(end));
                                // put caret at right position again (add one for the tab)
                                this.selectionStart = this.selectionEnd = start + 1;
                                // prevent the focus lose
                                e.preventDefault();
                            }
                        });
                        get_variables();
                });
        </script>
{% endblock %}
{% block content %}
        <form id="form" class="form-horizontal">
                <div class="form-group">
                        <label class="col-sm-2 control-label" for="key">Key</label>
                        <div class="col-sm-10">
                                <input class="form-control" type="text" id="key" name="key" placeholder="Key">
                        </div>
                </div>
                <div class="form-group">
                        <label class="col-sm-2 control-label" for="value">Value</label>
                        <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="value" name="value" placeholder="Value"></textarea>
                        </div>
                </div>
                <input class="col-sm-offset-2 btn btn-default" type="button" id="add" name="add" value="Add">
                <input class="btn btn-default" type="button" id="update" name="update" value="Update">
                <input class="btn btn-default" type="button" id="load" name="load" value="Load">
                <input class="btn btn-default" type="button" id="delete" name="delete" value="Delete">
        </form>
        <h2>Variables</h2>
        <ul id="list">
        </ul>
{% endblock %}
